.BookingModal__top02 {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.BookingModal__top02Align {
    margin: 0!important;
}


.BookingModal__headerTitle {
    position: initial!important;
}

.BookingModal__in {
    display: flex;
    flex-direction: column;
    padding-top: 10px!important;
}

.BookingModal__body {
    flex: 1 1;
    overflow: auto;
}

.goods__info_title {
    padding: 10px!important;
}

.MypageGoods__img {
    position: initial!important;
    background-repeat: no-repeat;
}
.MypageGoods__infoBox {
    display: flex!important;
    padding: 10px!important;

}

.MypageGoods__btn {
    width: 100%
}

@media (max-width: 1000px) {
    .MypageGoods__infoBox {
        display: initial!important;
        padding: 0!important;
    }

}




div.popup_bg_full h3 {
    position: initial!important;
}

div.popup_bg_full .in_txt {
    padding-top: 0px!important;
}

.productModal__close {
 position: initial!important;   
}

.productModal__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productModal__body {
    overflow: auto!important;
    padding: 20px 10px 10px 0px;
}

.productModal__wrap {
    display: flex;
    flex-direction: column;
    padding-right: 0px!important;
    overflow: initial!important;
}

.productModal__inWrap {
}

.productDateSelecter__categoryWrap  {
    padding: 0px!important;
}


.masterMain {

}

.masterMain .table .body{ 
    display: flex!important;
    align-items: center!important;
}

.masterMain .table .head  {
    display: flex!important;
    height: 35px;
    align-items: center;
}

.masterMain .table .head > div {
    flex: 1 1!important
}



.masterMain .table .td01, .masterMain .table .td02,.masterMain .table .td03,.masterMain .table .td04 { 
    width: auto!important;
    
}


.masterMain .table .td01 { 
    /* min-width: 25%; */
}

.master_box .in_content .alignment {
    margin-bottom: 20px;
    height: auto!important;
}

.productSelectModal .popup__tittle {
    position: initial!important;
}

.productSelectModal  {
    padding-top: 0px!important;
    height: auto!important;
}

.productSelectModal .page {
    display: flex;
    flex-direction: column;
    overflow: hidden!important;
}


.goodsall__wrap {
    display: flex;
    flex-direction: column;
}

.goodsall__list {
    max-height: 400px;
    overflow: auto;
}


.terms__saveBtn {
    height: min-content;
}

.tourView__recommendList {
    display: flex!important;
}
@media (max-width: 767px) {
    .tourView__recommendList {
        display: flex!important;
        flex-direction: column;
    }
}


.BookingModal__statusBox {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mypageSettlement__list {
    text-align: center;
}

.mypageSettlement__list .th02 {
    text-align: center!important;
}

.settlementModal__li {
    display: flex!important;
    justify-content: space-around!important;
    align-items: center!important;
}

.settlementModal__li-th3 {
    font-size: initial!important;
    font-weight: initial!important;
    width: auto!important;
}

.statement_popup__topBox {
    margin-top: 20px;
}

.goods__productinfo {
    min-width: 300px;
}

.peoplelist__li {
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.emailVerifiModal__btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.emailVerifi__input {
    width: 100%;
    margin-right:  0px!important;
}

.emailVerifiModal .page {
    padding-right: 0px!important;
}

.emailVerifiModal .close_icon {
    right: 16px!important
}

.emailVerifiModal {
    width: 300px;
}

.birthday-picker {
    display: flex;
}

.fileNameInputLabel {
    line-height: initial;
    /* word-break: break-all; */
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 4px;
    margin-bottom: 4px;
}


.selectViewList--paddingTop0 {
    padding-top: 0px!important;
}
.annotationBadge.up {
display: inline-block;
padding: 0 13px;
font-size: 12px;
color: #ed297b;
font-weight: 600;
border: 1px solid #ed297b;
border-radius: 100px;
line-height: initial;
background-color: #fff;
}
.annotationBadge.base {
display: inline-block;
padding: 0 13px;
font-size: 12px;
color: #464646;
font-weight: 600;
border: 1px solid #464646;
border-radius: 100px;
line-height: initial;
background-color: #fff;
}

.selectViewList--paddingTop0 {
    padding-top: 0px!important;

}

.txt--flex {
    display: flex!important;
    align-items: center;
}

.upload_out_box {
    text-overflow: ellipsis;
    padding-right: 30px;
    overflow: hidden;
    position: relative;
    display: flex!important;
    align-items: center;
}

.Number__box .left_btn{
    position: relative;
}

.Number__box .right_btn{
    position: relative;
}

.Number__box .flaticon-add,.Number__box  .flaticon-substract {
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardWrite--categoryFix #category {
    pointer-events: none!important;
}

.viewWithComment {
    padding-bottom: 0px!important;
}
.viewWithComment__commentBox {
    margin-bottom:  100px!important;
}


.dragger__dargLi {
    padding: 0px!important;
    margin: 0px!important;
    border:none!important
}

.upload_out_box__closer {
    position: absolute;
    cursor: pointer;
    right: 10px;
}

.tourWrite__daypikcer .DayPicker {
    margin-bottom: 10px;
    
}
.editorHolder {
    border: 1px solid #ddd;
    padding: 1rem;
}
.itinerary__editor .editorHolder {
    cursor: pointer;
}

.ck-content {
    display: block!important;
}

.productGroup__del:hover {
    background-color: red;
}


.editorHolder--loadingHolder {
    display: none!important;
}

.editor--loading .editorHolder--loading {
    display: block;
}



.tourBracketBtn--disabled a {
    border: none!important;
    color: white!important;
    cursor: auto!important;
    pointer-events: none;
    background-color: #999!important;
}