.historyTable {
    margin-bottom: 20px;
}

#HistoryTable .historyTable__thead {
    text-align: center!important;
}

.historyTable__head {
    top: auto!important
}
.historyTable__head strong,
.historyTable__head i{
    color: #2196f3;
}