

.LocalStorageBoard__block {
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 5px;
}

.LocalStorageBoard__date {
    font-weight: 100;
    font-size: 12px;
    letter-spacing: normal;
}

.LocalStorageBoard__btn--left {
    margin-right: 10px;
}

.LocalStorageBoard__title:after {
    opacity: 0;
}

.LocalStorageBoard__btn--left {
    margin-right: 10px!important;
}

.LocalStorageBoard .page {
    padding-right: 0px!important;
}

.LocalStorageBoard .page{
    display: flex;
    flex-direction: column;
    max-height: 80%;
    height: auto!important;
}

div.popup_bg_mini h3:after {
    content: none!important;
    opacity: 0!important;
}

.LocalStorageBoard {
    max-height: 80%;
}


.LocalStorageBoard .con {
    overflow: auto;
    padding-top: 20px!important;
}

.LocalStorageBoard .popup__tittle {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    padding-bottom: 10px;
    border-bottom:  1px solid #b8b8b8;
}

.LocalStorageBoard {
    display: flex;
}
