.muPageLoading {
    position: fixed;
    z-index: 90;
    backdrop-filter: blur(2px) grayscale(.7);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: none;
}

.muPageLoading:not([data-fetchingId=""]) {
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
}