.JDpopup  {
    background-color: white;
    position: fixed;
    z-index: 100;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-size: cover;
}
.JDpopup__handler {
    cursor: grab;
    background-color: white;
    height: 8px;
}
.JDpopup__handler:active {
    cursor: grabbing;
}
.JDpopup__bottomController {
    display: flex;
    padding: 0.4rem;
    align-items: center;
    width: 100%;
    background-color: #333333;
    box-sizing: border-box;
    justify-content: space-between;
}

.JDpopup__dayCloser, .JDpopupMobile__close, .JDpopup__close {
    cursor: pointer;
    color: #ffffff !important;
    font-weight: 600;
}
.JDpopup__close {
    cursor: pointer;
    color: #ffffff !important;
    font-weight: 600;
}
.JDpopup__box {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.JDpopupMobile {
    z-index: 100;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    backdrop-filter: brightness(24%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.JDpopupMobile__contents {
    max-width: 100vw;
    max-height: 100vh;
}

.JDpopupMobile__slideInner {
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-color: white;
}
.JDpopupMobile__slide {
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.JDpopupMobile__bottomController {
    width: 90vw;
    top:100%;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 1.5rem;
}

.JDpopup__boxContent {
    background-position: center center;
    background-size: cover;
    overflow: auto;
    line-break: anywhere;
}

.JDpopupMobile .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}