.status_square {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 18px;
}

.status_square.re-ok {
    background-color: #ed297b;
}

.status_square.re-stay {
    background-color: #e9e9e9;
}

.status_square.re-refund {
    background-color: #ffe4e4;
}

.settlementStatus {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 6px;
}

.settlementStatus.ok {
    background-color: #e9e9e9;
}

.settlementStatus.disabled {
    background-color: #ffe4e4;
}

.settlementStatus.not-ready {
    background-color: #ccc;
}


.settlementStatus.ready {
    background-color: #5f7bba;
}

.settlementStatus.request {
    background-color: #ed297b;
}

.settlementStatus.complete {
    background-color: #e9e9e9;
}

