@import "./common.css";
@import "./font.css";
@import "./board_st.css";
@import "./jandaicon.css";
@import "./layout.css";
@import "./responsive.css";
@import "./style_janda_sh.css";
@import "./front_end_custom.css";
@import "./join.css";
@import "./payment.css";
@import "./toast.css";
@import "./extra_join.css";
@import "./master.css";
@import "./mypage.css";
@import  "./editor.css";
@import "./productSearcher.css";
@import "./slider.css";
@import "./global.css";
@import "./component/categoryEditor.css";
@import "./component/popupConfigViewBox.css";
@import "./component/emailVerifi.css";
@import "./paymentBtn.css";
@import "./component/searchList.css";
@import "./component/qnaView.css";
@import "./component/boardCategory.css";
@import "./component/LocalStorageBoard.css";
@import "./component/modal.css";
@import "./component/fix.css";
@import "./component/statusBadge.css";
@import "./component/refundModal.css";
@import "./component/submitPasswordModal.css";
@import "./component/historyTable.css";
@import "./component/pageLoader.css";
@import "./component/muPageLoading.css";
@import "./component/searchTap.css";
@import "./component/privacy.css";
@import "./component/popup.css";
@import "./component/rating_stars.css";
@import "./component/reviewModal.css";
@import "./component/editor/editor.css";

.policyViewer {
    max-height: 50vh;
    height: 500px;
    overflow: auto;
    padding: 10px;
    text-align: left;
}
.policyViewer h2 {
    margin-top: 20px;
}

.productModal__paginatorWrap {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}


.mypageLayout__profileImg {
    background-repeat: no-repeat;
    border: none!important;
    box-shadow: 0px 0px 1px;
}

.userInfoForm__nameBlueBirdWrap {
    display: flex;
    align-items: center;
}

.userInfoForm__phoneNumberWrap {
    display: flex;
    align-items: center;
}
#PhoneNumberInput {
    flex: 1 1
}
#NameInput {
    flex: 1
}

.fileCloseBtn {
    cursor: pointer;
    
}