@import "./common.css";
@import "./font.css";
@import "./board_st.css";
@import "./jandaicon.css";
@import "./layout.css";
@import "./responsive.css";
@import "./style_janda_sh.css";
@import "./front_end_custom.css";
@import "./join.css";
@import "./payment.css";
@import "./toast.css";
@import "./extra_join.css";
@import "./master.css";
@import "./mypage.css";
@import  "./editor.css";
@import "./productSearcher.css";
@import "./slider.css";
@import "./global.css";
@import "./component/categoryEditor.css";
@import "./component/popupConfigViewBox.css";
@import "./component/emailVerifi.css";
@import "./paymentBtn.css";
@import "./component/searchList.css";
@import "./component/qnaView.css";
@import "./component/boardCategory.css";
@import "./component/LocalStorageBoard.css";
@import "./component/modal.css";
@import "./component/fix.css";
@import "./component/statusBadge.css";
@import "./component/refundModal.css";
@import "./component/submitPasswordModal.css";
@import "./component/historyTable.css";
@import "./component/pageLoader.css";


.productModal__paginatorWrap {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.productDateSelecter {

}

.mypageLayout__profileImg {
    background-repeat: no-repeat;
    border: none!important;
    box-shadow: 0px 0px 1px;
}