*[contenteditable="plaintext-only"]{
    line-height: normal;
    display: inline-block;
    outline: 1px dashed;
    min-width: 10px!important;
    cursor: auto!important;
    white-space: pre;
}
*[contenteditable="plaintext-only"]:focus{
    outline: 1px solid;
}

*[contenteditable="ready"] {
    white-space: pre;;
}


div[contenteditable="plaintext-only"]{
    width: 100%;
}

h5[contenteditable="plaintext-only"],
h4[contenteditable="plaintext-only"],
h3[contenteditable="plaintext-only"],
h2[contenteditable="plaintext-only"],
h1[contenteditable="plaintext-only"]
{
    width: 100%;
}

.ck *[contenteditable="plaintext-only"],.quill *[contenteditable="plaintext-only"]{
    outline: none;
}

ul[contenteditable="plaintext-only"] li {
    min-height: 20px;
    display: block!important;
    width: revert!important;
}
td {
    display: table-cell!important;
    vertical-align: inherit;
}

.JDicon {
    width: 1em!important;
    height: auto;
}

.ce-block__content,
.ce-toolbar__content {
    max-width: unset;
}

.ce-toolbar__content {
    width: 100%;
}

.codex-editor {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 12px 15px;
    border-radius: 3px;
}


/* 
.ce-block__content {
    width: 100%;
    max-width: 100%;
}


.codex-editor:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.ce-toolbar__content {
    max-width: 100%;
}
.codex-editor__redactor {
    padding-bottom: 80px!important;
} */


/* 이미지교체 아이콘 */


.imgEdit {
    position: absolute;
    left: 0;
    top:0;
    right:0;
    bottom:0;
    cursor: pointer;
    background-color: rgba(0,0,0,.5);
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 5;
}

[data-edit="bg"] { 
    position: relative;
}
[data-edit="img"] {
    position: relative;
}
[data-edit="bg"] .imgEdit{
    display: flex;
}
[data-edit="img"] .imgEdit {
    display: flex;
}

[data-edit="img"] [contenteditable="plaintext-only"] {
    position: relative;
    z-index: 10;
}

[data-edit="bg"] [contenteditable="plaintext-only"] {
    position: relative;
    cursor: auto;
    z-index: 10;
}
.img_edit {
    z-index: 9999;
    position:relative;
}

.img_edit:after {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.40);
    color: #fff;
    content: '이미지교체';
    font-size: 13px;
    font-weight: 500;
    padding: 10px 12px 10px 30px;
    background-image: url(/img/svg/setting_icon.svg);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 13px center;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 17px;
    width: max-content;
}

.img_edit:hover:after {
    background-color: rgba(0, 0, 0, 1);
}

/* .codex-editor--narrow .ce-toolbar__plus {
    left: -30px;
} */

.cdx-input image-tool__caption {
    display: none;
}
.input_01 {
    margin-right: 0.4rem;
}

.codex-editor--narrow .ce-toolbar__actions {
    right: -30px;
}
@media (max-width:768px) {
.ce-toolbar__actions {
    right: 30px!important;
}
}

.day_tap .initrary__imgInput {
    margin-bottom: 5px;
}

.initrary__img  .icon_x {
    color: #333;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.initrary__img {
    position: relative;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 8px;
    display: inline-block;
}

.initrary__img + .initrary__img {
    margin-left: 0px;
}

.initrary__img:first-child {
    margin-left: 0px;
}

.disabled-btn {
    pointer-events: none;
}


.main_photo_ul  {
    display: flex;
    flex-wrap: wrap;
}

.main_photo_ul li {
    flex: 1 1;
    min-width: 33.3%;
}

.deps_nav {
    padding-top: 0!important;
    padding-bottom: 0!important;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0;
}

.deps {
    padding-bottom: 1px;
}
.deps:hover .deps_nav {
    /* padding-top: 15px!important;
    padding-bottom: 15px!important; */
   min-height: 100px;
    opacity: 1;
}


.edtiorView .codex-editor {
    border: 0px!important;
    padding: 0px!important;    
}

.codex-editor__redactor {
    padding-bottom: 0px!important;
}

.edtiorView .ce-block--selected .ce-block__content {
    background-color: transparent;
}


.ck {
    box-sizing: border-box;
}

.JDfocused {
    outline: 1px solid black;
}

.day_tap .ck-content {
    min-height: 150px;
}

.JDtagInput__tag {
    white-space: nowrap;
    display: inline-block;
    padding: 8px 19px;
    font-size: 14px;
    color: #696969;
    font-weight: 600;
    border: 1px solid #909090;
    border-radius: 100px;
    line-height: initial;
    background-color: #fff;
    margin-right: 8px;
    vertical-align: bottom;
    position: relative;
}

.JDtagInput {
    display: flex;;
}
.JDtagInput__input {
    display: flex;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    color: #777;
    background: #fff;
    border: 0;
    box-shadow: 0;
    border-radius: 3px;
    border: 1px #e7e7e7 solid;
}

.JDtagInput__close {
    margin-right:-8px;
    margin-left: 4px;
    right: 8px;
    cursor: pointer;
}

:root {
	--ck-image-style-spacing: 1.5em;
}

.image-style-side {
    float: right;
    margin-left: var(--ck-image-style-spacing);
    max-width: 50%;
}

.image-style-align-left {
    float: left;
    margin-right: var(--ck-image-style-spacing);
}

.image-style-align-center {
    margin-left: auto;
    margin-right: auto;
}

.image-style-align-right {
    float: right;
    margin-left: var(--ck-image-style-spacing);
}
figure {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
figure:after {
    content: "";
    display:block;
    clear: both;
}


#dayPickerModal {
    max-height: 100vh;
    width: auto;
}

.modal {
    z-index: 100;
}
#basketModal .popup_bg_mini { 
    max-width: 400px;
}

#SMSmodal .sms__textarea-wrap {
    width: 100%;
    box-sizing: border-box;
}
#SMSmodal .sms__textarea {
    outline: none;
    resize: none;
    width: 100%;
    border: none;
    height: 100px;
}


.editor_box {
    display: none;
}

.busiAreaList__li .imgEdit {
    width: 100px;
    height: 100px;
}

.portfolio__topbg .imgEdit {
    align-items: flex-start;
    
}

.portfolio__topbg  .imgEdit__text {
    padding-top: 2rem;
}

.imgEdit__text {
 font-size: initial;
 color: white;   
}

.portfolio__bottomWrap .imgEdit {
    align-items: flex-start;
}


.portfolio__bottomWrap  .imgEdit__text {
    padding-top: 1rem;
}


.siteInfo__bottom .imgEdit {
    align-items: flex-start;
}

.siteInfo__bottom .imgEdit__text {
    padding-top: 2rem;
}

.siteInfo__top .imgEdit {
    align-items: flex-start;
}

.siteInfo__top .imgEdit__text {
    padding-top: 4rem;
}


.mainSlider .imgEdit {
    width: 100px;
    height: 100px;
}

.overflowEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: min-content;
}
.header {
    position: sticky;
    top: 0;
}

.tourMianListUl {
    display: flex!important;
    overflow: hidden;
}

.tourMianListUl__li {
    overflow: hidden;
    max-width: 32%;
    min-width: 32%;
    flex-grow: 0;
    margin-right: 2%!important;
}

.tourMianListUl__img {
    height: 100%;
    background-size: cover!important;
    transform: scale(1);
}

.tourMianListUl__li:hover .tourMianListUl__img {
    transition: transform .3s;
    transform: scale(1.1);
}

.category__cat {
    margin-right: .5rem;
}

.master_box .subtop_nav {
    bottom: 100%!important;
    top: auto!important;
}

.memberTopNav {
    top: auto!important;
    bottom: 100%!important;
}

.productGroupBox .body {
    padding-top: 0px!important;
}
.productGroupBox .body-title {
    display: flex;
    align-items: center;
}


.productGroupBox .del {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    opacity: 0.8;
    z-index: 90;
    background-color: #000000;
    box-sizing: border-box;
    padding: 2px;
}

.banner {
    display: flex;
}

.imgEdit {
    text-indent: initial!important;
}

.profile_box__profileImg {
    background-size: cover;
}


.m_06_link__linker {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 10;
}

.linkIcon {
    color: white;
    fill: currentColor;
}


.linkIcon:hover {
    cursor: pointer;
    color: #ccc;
    fill: currentColor;
}


.theme_deal__textBox {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.guid_topBtn__title {
    margin-top: auto!important;
    line-height: initial!important;
    color: #333!important;

}
.guid_topBtn__btn {
    display: flex!important;
    align-items: center;
}

.guid_topBtn__close {
    width: 12px;
    margin-left: .5em;
    color: #333;
    fill: currentColor;
}


.guide_top_bn .imgEdit {
    width: 100px;
    height: 100px;
}

.partners__close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width:12px;
}

.partners__link {
    position: absolute;
    top: .5rem;
    left: .5rem;
}

.partners__link .linkIcon {
    color: #333;
    fill: currentColor;
}


.partners div[data-edit="img"] {
    height: 100%;
}

#partners__add {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.partners {
    cursor: pointer;
}
@media (max-width:767px) {
    .JDtagInput {
        display: block;
    }
    .JDtagInput__tag{
        padding: 2px 14px;
    }
    .DayPicker-Month{
        margin-bottom: 10px !important;
    }
}