*[contenteditable="true"]{
    display: inline-block;
    outline: 1px dashed;
}
*[contenteditable="true"]:focus{
    outline: 1px solid;
}

div[contenteditable="true"]{
    width: 100%;
}

h5[contenteditable="true"],
h4[contenteditable="true"],
h3[contenteditable="true"],
h2[contenteditable="true"],
h1[contenteditable="true"]
{
    width: 100%;
}



.codex-editor *[contenteditable="true"]{
    outline: none;
}

ul[contenteditable="true"] li {
    min-height: 20px;
    display: block!important;
    width: revert!important;
}

.JDicon {
    width: 1em!important;
    height: auto;
}

.ce-block__content,
.ce-toolbar__content {
    max-width: unset;
}


.codex-editor {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 12px 15px;
    border-radius: 3px;
}


/* 
.ce-block__content {
    width: 100%;
    max-width: 100%;
}


.codex-editor:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.ce-toolbar__content {
    max-width: 100%;
}
.codex-editor__redactor {
    padding-bottom: 80px!important;
} */


/* 이미지교체 아이콘 */
.img_edit {
    z-index: 9999;
    position:relative;
}

.img_edit:after {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.40);
    color: #fff;
    content: '이미지교체';
    font-size: 13px;
    font-weight: 500;
    padding: 10px 12px 10px 30px;
    background-image: url(/img/svg/setting_icon.svg);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 13px center;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 17px;
    width: max-content;
}

.img_edit:hover:after {
    background-color: rgba(0, 0, 0, 1);
}

/* .codex-editor--narrow .ce-toolbar__plus {
    left: -30px;
} */


.input_01 {
    margin-right: 0.4rem;
}

.day_tap .initrary__imgInput {
    margin-bottom: 5px;
}