*[contenteditable="true"]{
    display: inline-block;
    outline: 1px dashed;
}
*[contenteditable="true"]:focus{
    outline: 1px solid;
}

div[contenteditable="true"]{
    width: 100%;
}

h5[contenteditable="true"],
h4[contenteditable="true"],
h3[contenteditable="true"],
h2[contenteditable="true"],
h1[contenteditable="true"]
{
    width: 100%;
}

.ck *[contenteditable="true"],.quill *[contenteditable="true"]{
    outline: none;
}

ul[contenteditable="true"] li {
    min-height: 20px;
    display: block!important;
    width: revert!important;
}
td {
    display: table-cell!important;
    vertical-align: inherit;
}

.JDicon {
    width: 1em!important;
    height: auto;
}

.ce-block__content,
.ce-toolbar__content {
    max-width: unset;
}

.ce-toolbar__content {
    width: 100%;
}

.codex-editor {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 12px 15px;
    border-radius: 3px;
}


/* 
.ce-block__content {
    width: 100%;
    max-width: 100%;
}


.codex-editor:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.ce-toolbar__content {
    max-width: 100%;
}
.codex-editor__redactor {
    padding-bottom: 80px!important;
} */


/* 이미지교체 아이콘 */
.img_edit {
    z-index: 9999;
    position:relative;
}

.img_edit:after {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.40);
    color: #fff;
    content: '이미지교체';
    font-size: 13px;
    font-weight: 500;
    padding: 10px 12px 10px 30px;
    background-image: url(/img/svg/setting_icon.svg);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 13px center;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 17px;
    width: max-content;
}

.img_edit:hover:after {
    background-color: rgba(0, 0, 0, 1);
}

/* .codex-editor--narrow .ce-toolbar__plus {
    left: -30px;
} */

.cdx-input image-tool__caption {
    display: none;
}
.input_01 {
    margin-right: 0.4rem;
}

.codex-editor--narrow .ce-toolbar__actions {
    right: -30px;
}
@media (max-width:768px) {
.ce-toolbar__actions {
    right: 30px!important;
}
}

.day_tap .initrary__imgInput {
    margin-bottom: 5px;
}

.initrary__img  .icon_x {
    color: #333;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.initrary__img {
    position: relative;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 8px;
    display: inline-block;
}

.initrary__img + .initrary__img {
    margin-left: 0px;
}

.initrary__img:first-child {
    margin-left: 0px;
}

.disabled-btn {
    pointer-events: none;
}


.main_photo_ul  {
    display: flex;
    flex-wrap: wrap;
}

.main_photo_ul li {
    flex: 1 1;
    min-width: 33.3%;
}

.deps_nav {
    padding-top: 0!important;
    padding-bottom: 0!important;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0;
}

.deps {
    padding-bottom: 15px;
}
.deps:hover .deps_nav {
    /* padding-top: 15px!important;
    padding-bottom: 15px!important; */
   min-height: 100px;
    opacity: 1;
}


.edtiorView .codex-editor {
    border: 0px!important;
    padding: 0px!important;    
}

.codex-editor__redactor {
    padding-bottom: 0px!important;
}

.edtiorView .ce-block--selected .ce-block__content {
    background-color: transparent;
}


.ck {
    box-sizing: border-box;
}

.JDfocused {
    outline: 1px solid black;
}

.ck-content {
    /* min-height: 250px; */
}

.day_tap .ck-content {
    min-height: 150px;
}

.JDtagInput__tag {
    display: inline-block;
    padding: 2px 19px;
    font-size: 14px;
    color: #696969;
    font-weight: 600;
    border: 1px solid #909090;
    border-radius: 100px;
    line-height: initial;
    background-color: #fff;
    margin-right: 8px;
    vertical-align: bottom;
    position: relative;
}

.JDtagInput {
    display: flex;;
}
.JDtagInput__input {
    display: flex;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    color: #777;
    background: #fff;
    border: 0;
    box-shadow: 0;
    border-radius: 3px;
    border: 1px #e7e7e7 solid;
}

.JDtagInput__close {
    margin-right:-8px;
    margin-left: 4px;
    right: 8px;
    cursor: pointer;
}

:root {
	--ck-image-style-spacing: 1.5em;
}

.image-style-side {
    float: right;
    margin-left: var(--ck-image-style-spacing);
    max-width: 50%;
}

.image-style-align-left {
    float: left;
    margin-right: var(--ck-image-style-spacing);
}

.image-style-align-center {
    margin-left: auto;
    margin-right: auto;
}

.image-style-align-right {
    float: right;
    margin-left: var(--ck-image-style-spacing);
}
figure {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

#addressFindModal {
    max-height: 100vh;
    height: 500px;
    margin-top: -250px;
}