
.join_wrap2 .information_box .er, .join_wrap2 .information_box2 .er {
    display:none !important;
}

.join_wrap2 .information_box .er.on, .join_wrap2 .information_box2 .er.on {
    display:inline-block !important;
}

.join_birthday {
    position:relative;
    
}
.join_birthday input{
   width: 100% !important;
    
}
.sign_in .inner .join_address {
    width: 100%;
    display: block;
    position: relative;
    line-height: 138px;
    margin-bottom: 26px;
    margin-top: 0;
    padding: 3% 0;
    border-top: 1px #efefef solid;
    border-bottom: 1px #efefef solid;
}

    .sign_in .inner .join_address ul {
        width:100%;
        margin: 0 auto;
        text-align: center;
        height: 130px;
    }

    .sign_in .inner .join_address li {
        position: relative;
        width: 80px;
        height: 80px;
        line-height: 19px;
        border-radius: 300px;
        border: 3px solid #dbdbdb;
        background: #ededed;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        color: #a9a9a9;
        margin: -50px 10px 0;
        padding: 15px 0 0 0;
        box-sizing: border-box;
        font-weight: 600;
    }
  
    .sign_in .inner .join_address .text{
       display: none;
    }
    .sign_in .inner .join_address i[class*="svg"]{
       display: inline-block;
       width: 30px;
       height: 30px;
       background-position: center;
       background-size: 90%;
       background-repeat: no-repeat;
       opacity: 0.4;
    }
    .sign_in .inner .join_address li.on i[class*="svg"] {
        opacity:1;
    }
    .sign_in .inner .join_address i.svg01{
        background-image: url(/img/svg/icon_man.svg);
     }
     .sign_in .inner .join_address i.svg02{
        background-image: url(/img/svg/icon_certified.svg);
        background-size: 100%;
     }
     .sign_in .inner .join_address i.svg03{
        background-image: url(/img/svg/icon_input.svg);
     }
     .sign_in .inner .join_address i.svg04{
        background-image: url(/img/svg/icon_check.svg);
     }
    .sign_in .inner .join_address li.on i.svg01{
        background-image: url(/img/svg/icon_man_p.svg);
     }
     .sign_in .inner .join_address li.on i.svg02{
        background-image: url(/img/svg/icon_certified_p.svg);
        background-size: 100%;
     }
     .sign_in .inner .join_address li.on i.svg03{
        background-image: url(/img/svg/icon_input_p.svg);
     }
     .sign_in .inner .join_address li.on i.svg04{
        background-image: url(/img/svg/icon_check_p.svg);
     }
        .sign_in .inner .join_address li:after {
            position: absolute;
            content: '';
            top: 36%;
            right: -59px;
            width: 30px;
            height: 30px;
            display: inline-block;
            background-image: url(/img/svg/join_arr_right.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .sign_in .inner .join_address li:last-child:after {
            display: none;
        }

        .sign_in .inner .join_address li i {
            font-size: 10px;
            font-style: unset;
            font-weight: 500;
        }

        .sign_in .inner .join_address li.on {
            background: #fff;
            color: #ed297b;
            border: 3px solid #ed297b;
        }
        .sign_in .inner .join_address li.on [class*=svg] {
            fill: #ed297b;
        }
.join__snslink{
    position: relative;
    display: block;
}
.join__snslink ul{
   margin-top: 5px;
}

.join__snslink li{
    position: relative;
    display: block;
    line-height: 40px;
    width: 100%;
    text-align: left;
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 5px;  
    opacity: 0.8;
}
.join__snslink li:hover{
opacity:1;
}
.join__snslink a{
position: relative;
display: flex;
}
.join__snslink span{
display: inline-block !important;
color: #333333 !important;
}
.join__snslink i{
    display: inline-block;
    align-items: center;
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    margin-top: 0 !important;
    width: 51px !important;
height: 41px !important;
text-align: center;
line-height: 38px;
}
.join__snslink .join__snslink_k i{
    font-size: 18px;
}
.join__snslink .join__snslink_g i{
    font-size: 15px;
}


.join__snslink_icon{
font-size: 1.4em;
}
.join__snslink_g .join__snslink_icon{
font-size: 1.2em;
}
.join__snslink_n .join__snslink_icon i{
background-image: url(/img/svg/icon-naver-b.svg);
background-size: 13px;
background-position: center;
background-repeat: no-repeat;
display: block;

}
.join__snslink_icon{
width: 60px;
height: 40px;
align-items: center;
text-align: center;
border-right: 1px solid #eeeeee;
}
span.join__snslink_txt{
text-align: right;
width: 100%;
padding-left: 15px;
padding-right: 15px;
font-weight: 600;
line-height: 40px !important;
}
.login__snslink2{
position: relative;
display: block;
margin-top: 15px;
}

.login__snslink2 li{
position: relative;
display: block;
line-height: 40px;
width: 100%;
text-align: left;
border: 1px solid rgb(201 201 201);
box-sizing: border-box;
border-radius: 5px;
margin-bottom: 5px;  
opacity: 0.5;
}
.login__snslink2 li:hover{
opacity:1;
}
.login__snslink2 a{
position: relative;
display: flex;
}
.login__snslink2 span{
display: inline-block !important;
}


.login__snslink2_icon{
font-size: 1.4em;
}
.login__snslink2_g .login__snslink2_icon{
font-size: 1.2em;
}
.login__snslink2_n .login__snslink2_icon i{
background-image: url(/img/svg/icon-naver-b.svg);
background-size: 13px;
background-position: center;
background-repeat: no-repeat;
display: block;
width: 51px;
height: 41px;
}
.login__snslink2_icon{
width: 60px;
height: 40px;
align-items: center;
text-align: center;
border-right: 1px solid rgba(0, 0, 0, 0.2);
}
span.login__snslink2_txt{
text-align: right;
width: 100%;
padding-right: 15px;
font-weight: 600;
}
.apply_relative {
    position:relative;
}

.join_birthdayPick {
    display:none !important;
    position:absolute; z-index:100;
    top:0; left:0;
    background:#ffffff;
}

.join_birthdayPick.on {
    display:block !important;
}

.file_busi_license {
    position:absolute; z-index:-1;
    top:0; right:0;
    opacity:0;
}

.cus_file_busi_license {
    height: 22px !important;
    width: auto !important;
    padding: 8px 15px !important;
    background-color: #c4c4c417 !important;
    color: #7a7a7a !important;
    border: 1px solid #c4c4c4 !important;
    font-size: 12px !important;
    border-radius: 5px !important;
    font-weight: 600;
}

.cus_file_busi_license:hover {
    background-color: #e0e0e0 !important;
    color: #333333 !important;
    border: 1px solid #a0a0a0 !important;
}
.daum_addresss{
    padding: 3%;
    box-sizing: border-box;
    border: 5px solid #555;
    background-color: #fff;

}

.socialVerify {
    position:relative;
    overflow:hidden;
}

.socialVerify button {
    position:absolute;
    top:0; left:0;
    width:100% !important; height:100% !important;
    opacity:0 !important;
}


@media (min-width: 1000px) {
    .join_birthday input{
    width: 100% !important;
        
    }
    .sign_in .inner .join_address {
        line-height: 158px;
        padding: 1% 0;
    }
    .sign_in .inner .join_address li{
        margin: -50px 40px 0;
        padding: 27px 0 0 0;
        width: 120px;
        height: 120px;
        
    }

}
@media (max-width: 1000px) {
    .sign_in .inner .join_address i[class*="svg"]{
        width: 20px;
        height: 20px;
    }
    .sign_in .inner .join_address li:after {
        top: 36%;
        right: -17px;
        width: 10px;
        height: 19px;
    }
}

@media (max-width: 360px) {
    .sign_in .inner .join_address i[class*="svg"]{
        display: none;
    }
    .sign_in .inner .join_address li{
        margin: -50px 7px 0;
        width: 60px;
        height: 60px;
        font-size: 10px;
    }
    .sign_in .inner .join_address li{
        padding: 0;
    }
    .sign_in .inner .join_address li:after{
        top: 33%;
        right: -15px;
        width: 10px;
        height: 19px;
    }
    .join_wrap2 .choice_box p{
        line-height: 150%;
    }
}