.myProfilePage {
    padding: 0px!important;;
}


.myProfilePage__in {
    padding: 0px!important;
    margin: 0px!important;
}

.myProfilePage__inin {
    margin: 0px!important;
    padding-bottom: 100px;
}

.mypage_in__paginator {
    display: flex;;
    justify-content: center;
}