.paymentBtn {
    background-color: #5bace9 !important;
    color: white !important;
    font-weight: 600 !important;
    box-shadow: 0 3px 0px #2986cd !important;
    font-size: 16px !important;
    padding: 16px 13px 12px !important;
    width: 100%;
    padding: 13px 12px !important;
    text-align: center;
    height: unset;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    background-color: ##5bace9;
    border: 0px solid transparent !important;
    color: #333333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    line-height: 1.428571429 !important;
    height: auto !important;
    text-shadow: none;
    background-image: none;
    border-radius: 4px !important;
    box-sizing: border-box;
}