
/************************************** 
    D.seun hwa board style 2020
**



/* pay ment */
#payment {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50px 0 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
#payment .w1200{
    padding: 0 3%;
    box-sizing: border-box;
}

    #payment iframe {
        min-height:2000px;
        width:100%;
        display:block;
        position:relative;
        border:0;
    }
    #payment .payment_box {
        position: relative;
        display: block;
        padding: 40px 20px 15px;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: #fff;
        background-image: url(/img/payment_bg.gif);
        background-repeat: repeat-x;
        margin-bottom: 20px;

    }     #payment .payment_box .head{
        position: relative;
        display: block;
        padding-bottom:20px;
    }   
    #payment .payment_box h2 {
        position: relative;
        display: block;
        text-align:center;
    }
        #payment .payment_box h2 i {
            font-style: normal;
            color: #2196F3;
        }
        #payment .payment_box .table {
            position: relative;
            display: block;
            text-align: center;
            border-top: 1px dotted #d8d8d8;
        }
        #payment .payment_box .tr {
            width: 100%;
            display: inline-block;
            border-bottom: 1px dotted #d8d8d8;
            text-align: left;
        }
        #payment .payment_box .th {
            width: 20%;
            text-align: center;
            display: inline-block;
            line-height: 130%;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: 600;
            color: #acacac;
            vertical-align: top;
        }
        #payment .payment_box .td {
            width: 80%;
            text-align: left;
            display: inline-block;
            line-height: 130%;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #333333;
            font-weight: normal;
            font-family: 'µ¸À½';
            vertical-align: top;
        }
            #payment .payment_box .td span {
                display: block;
                margin-right: 0;
            }
        #payment .payment_box .btn_box {
            position: relative;
            display: block;
            width: 100%;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
            #payment .payment_box .btn_box a {
                width: 48% !important;
                margin: 1%;
                display: inline-block;
                background-color: #888;
                color: #fff;
                border: 0;
                padding: 3px 0;
                border-radius: 5px;
                box-shadow: 0 3px 0 #777;
            }   
            #payment .payment_box .btn_box a:hover {
                background-color: #0D1E42;
                color: #fff;
                box-shadow: 0 3px 0 #050d1d;
            }
    #payment .payment_bottom {
        position: relative;
        display: block;
        width: 100%;
        line-height: 34px;
        background-color: #999;
        text-align: center;
        box-sizing: border-box;
        margin-top:50px;
        color: #c9c9c9;
        font-size:12px;
        font-weight:100;
    }

    #payment .payment_top {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        line-height: 50px;
        text-align: left;
        color: #eee;
    }
        #payment .payment_top .logo {
            width: 170px;
            display: inline-block;
        }


@media (min-width: 1200px) {
    #payment {
        padding: 100px 0 0;
    }
    #payment .payment_top {
        width: 1200px;
    }
    #payment .payment_box h2 {
        font-size: 2em;
    }
    #payment .payment_box .btn_box a {
        width: 22% !important;
        padding:6px 0;
    }
  
    #payment .payment_box .head {
        padding-top:100px;
        padding-bottom:30px;
    }
        #payment .payment_box .btn_box {
            padding-bottom: 110px;
        }
        #payment .payment_box .table {
            margin: 0 auto;
            width: 70%;
        }  
        #payment .payment_box .tr {
            width:100%;
        }
        #payment .payment_box .th {
            width: 20%;
            padding-left:20px;
            box-sizing:border-box;
            text-align:left;
        }

        #payment .payment_box .td {
            width: 70%;
        } 
        #payment .payment_box .td tr {
            display:none;
        }  
        #payment .payment_box .td span {
            display:inline-block;
            margin-right:10px;
        }
    #payment .payment_bottom {
        margin-top: 100px;
    }
}