@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.rating-stars{
    line-height: 180%;
    display: inline-blocks;
}
.fa {
    color: rgb(180, 180, 180);
    margin-right: 3px;
    font-size: 1em;
  }
.checked {
    color: rgb(255, 166, 0);
  }