/* Slider_box */

.Slider_box {
	position: relative;
	overflow: hidden;
}
.Slider_box .main_top_images{
	outline: none;
}
.Slider_box--unDisplayArrow .slick-arrow {
	display: none !important;
}

.Slider_box .slick-arrow {
	z-index: 10;
	position: absolute;
	top: calc(50% - 1.8rem);
}

.Slider_box .slick-next {
	right: 2%;
}

.JDslider .slick-prev {
	transform: scale(-1);
	left: 2%;
}

.JDslider__slide-wrap {
	text-align: center;
	box-sizing: border-box;
	outline: 0;
}

.Slider_box .slick-arrow {
	margin: 0;
}

.Slider_box .circleIcon-Wrap {
	position: absolute;
	top: calc(50% - (2rem + 10px + 15px) / 2);
	z-index: 9;
}

.Slider_box .circleIcon-Wrap:first-child {
	left: 2%;
	transform: scaleX(-1);
}

.Slider_box .circleIcon-Wrap:first-child ~ .circleIcon-Wrap {
	right: 2%;
}

.Slider_box .slick-list {
	margin: 0;
}
.Slider_box .slick-prev img,.Slider_box .slick-next img{
	width: 50px;
}
.Slider_box .slick-prev{
    top: 50%;
	left: 3%;
	position: absolute;
	cursor: pointer;
	transform: rotate(-180deg);
}
.Slider_box .slick-next{
    top: 50%;
	right: 3%;
	position: absolute;
    cursor: pointer;
}
.Slider_box .slick-list .slick-slide {
	float: left;
}

.Slider_box .slick-list .slick-track:after {
	display: block;
	clear: both;
	content: "";
}

.Slider_box .JDslider__dots {
	display: flex !important;
	width: 100%;
	justify-content: center;
	padding: 15px 0;
	padding-bottom: 0;
	margin: 0;
}

.Slider_box .JDslider__dots li {
	border-radius: 100%;
	cursor: pointer;
	position: relative;
	display: inline-block;
	margin: 0 6px;
	padding: 0;
}

.Slider_box .JDslider__dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	padding: 5px;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.Slider_box .JDslider__dots li button:before {
	content: "";
	background-color: #bebebe;
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.Slider_box .JDslider__dots li.slick-active button {
	font-size: 0;
	line-height: 0;
	display: block;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
	height: 10px;
}
@media (max-width: 767px) {

	.Slider_box .slick-prev img,.Slider_box .slick-next img{
		width: 30px;
	
	}
}