
/************************************** 
    D.seun hwa board style 2020
******************************************/

.m_title{
    display: inline-block !important;
    margin-right: 3px;
    font-style: normal;
}


/* notice */
.notice_in {
    position: relative;
    display: block;
    padding: 50px 150px;
}
.board_option {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 5px;
    line-height: 10px;
    clear: both;
    padding: 0 6px;
    box-sizing: border-box;
    vertical-align: bottom;
    border: 1px solid #cfcfcf;
    margin-right:8px;
    vertical-align: middle;
}

    .board_option li {
        float: left;
        display: inline-block;
        position: relative;
    }

        .board_option li:after {
            content: '';
            display: inline-block;
            position: absolute;
            right: -2px;
            top: 50%;
            margin-top: -5px;
            height: 10px;
            width: 1px;
            background-color: #d8d8d8;
        }

        .board_option li:last-child:after {
            display: none;
        }
         
    .board_option a {
        display: block;
        padding: 10px 12px;
        box-sizing: border-box;
        color: #999999;
        font-weight: 600;
        font-size: 11px;
    }
    .board_option a strong {
        font-weight: 400;
    }

        .board_option a:hover {
            color: #333;
        }
        .board_option li.on a {
            font-weight: 600;
            color: #333;
        }
.board_title {
    position: relative;
    display: block;
    text-align: center;
}

    .board_title h3 {
        font-size: 42px;
        line-height: 45px;
        color: #333;
        display: block;
        text-align: center;
    }

    .board_title span {
        font-size: 16px;
        line-height: 42px;
        color: #999;
        display: block;
        text-align: center;
    }
.board_list {
    width:94%;
    margin:0 auto;
}
.board_list .list_lightbox {
    position: relative;
    display: block;
    border-top: 2px solid #333;
}

    .board_list .list_lightbox .list_ul {
        position: relative;
        display: block;
    }

.board_list .list_ul > li {
    position: relative;
    display: flex;
    width: 100%;
    line-height: 70px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.board_list .list_ul li.fix {
    background-color: #f5f5f5;
}

    .board_list .list_ul li.fix .number:before {
        content: "\f1fc";
        display: inline-block;
        width: 22px;
        height: 22px;
        line-height: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        font-family: jandaicon;
        font-style: normal;
        margin-right: 10px;
        border-radius: 100px;
    }

.board_list .list_ul > li > div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

.board_list .list_ul .number {
    width: 20%;
}

.board_list .list_ul .category {
    width: 35%;
}

    .board_list .list_ul .category span {
        border: 1px solid #ccc;
        font-size: 12px;
        padding: 0px 15px;
        display: inline-block;
        color: #333;
        line-height: 23px;
        border-radius: 100px;
        background-color: #fff;
        font-weight: 600;
    }

    .board_list .list_ul .category .blue {
        border: 1px solid #5c6ab8;
        color: #5c6ab8;
    }

    .board_list .list_ul .category .red {
        border: 1px solid #d1625b;
        color: #d1625b;
    }

.board_list .list_ul .subj {
    text-align: left;
    font-weight: 600;
    padding-left: 30px;
}

.board_list .list_ul .date {
    width: 40%;
}

.board_list .list_ul .check {
    width: 20%;
}

.board_list .list_ul .file {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-left: 5px;
}

    .board_list .list_ul .file svg {
        vertical-align: top;
        fill: #8a8a8a;
    }

    .board_list .list_ul .file path {
        fill: #8a8a8a !important;
    }

/* statement */
.statement_div {
    position: relative;
    display: block;
}

    .statement_div .top_box {
        position: relative;
        display: block;
        box-sizing: border-box;
        padding: 30px;
        width: 100%;
        background-color: #5bace9;
    }

        .statement_div .top_box ul {
            text-align: center;
        }

        .statement_div .top_box li {
            color: #fff;
            font-size: 16px;
            text-align: left;
            width: 15%;
            margin: 0 3%;
            display: inline-block;
        }

        .statement_div .top_box strong {
            color: #fff;
            font-size: 40px;
        }

       .board_list_mini {
            position: relative;
            display: block;
            width: 100%;
            border-top: 3px solid #555;
        }

    .board_list_mini .thead {
        position: relative;
        display: none;
        width: 100%;
        border-bottom: 2px solid #ccc;
        background-color: #f4f4f4;
    }

        .board_list_mini .thead > div {
            display: inline-block;
            width: 24.5%;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            line-height: 37px;
            padding: 10px;
        }

    .board_list_mini .tbody {
        position: relative;
        display: block;
        width: 100%;
    }

        .board_list_mini .tbody ul {
            position: relative;
            display: block;
            width: 100%;
        }

        .board_list_mini .tbody li {
            position: relative;
            display: block;
            width: 100%;
            padding: 3%;
            box-sizing: border-box;
            border-bottom: 1px solid #eeeeee;
        }

            .board_list_mini .tbody li > div {
                display: inline-block;
                width: 24.5%;
                text-align: center;
                font-size: 12px;
                padding: 0;
                box-sizing: border-box;
                font-weight: 100;
            }
            .board_list_mini .tbody li > div a{
                font-weight: 600;
            }
            .board_list_mini.ln05 .tt01 {
                width: 100%;
                text-align: left;
            }
    .board_list_mini.ln04 .th01 {
        width: 100%;
        text-align: left;   
        font-weight: 100;
    }

    .board_list_mini.ln04 .thead .th01 .checkbox {
        top:10px;
    }    .board_list_mini.ln04 .tbody .th01 .checkbox {
        top:10px;
    }

    .board_list_mini.ln04 .th02 {
        text-align: left;
        width: 100%;
        font-weight: 600;
        font-size: 1.2em;
    }

    .board_list_mini.ln04 .th03 {
        width: auto;
        margin-right: 15px;
    }

    .board_list_mini.ln04 .th04 {
        width: auto;
        font-weight: 100;
    }

    .board_list_mini.ln04 .thead .th02 {
        text-align: center;
    }

    .board_list_mini .q_ok {
        font-style: unset;
        display: inline-block;
        padding: 4px 5px;
        margin-left: 15px;
        font-size: 10px;
        color: #002faa;
        border: 1px solid #768fd1;
        background-color: #e2eaff;
        line-height: 1;
    }

    .board_list_mini .q_no {
        font-style: unset;
        display: inline-block;
        padding: 4px 5px;
        margin-left: 15px;
        font-size: 10px;
        color: #3f65c9;
        border: 1px solid #bccbf0;
        background-color: #ffffff;
        line-height: 1;
    }
ul.list_ul {
    width:100%;
    margin:0 auto;
}
ul.list_ul li {
    display: inline-block;
    cursor: pointer;
}

ul.list_ul.line3 li {
    width: 31.7%;
}
ul.list_ul.line3 li:last-child {
    display:none;
}
ul.list_ul.line4 li {
    width: 100%;
    margin-bottom: 70px;
}

ul.list_ul .list_in {
    vertical-align: top;
    border: 2px solid #ffffff;
    padding: 3px;
    box-sizing: border-box;
}

    ul.list_ul .list_in:hover {
        border: 2px solid #fff;
    }
.selectViewList ul.list_ul .list_in {
    border: 0;
    border-bottom: 1px solid #e6e6e6;
}
    .selectViewList ul.list_ul .list_in:hover {
        border: 0;
        border-bottom: 1px solid #e6e6e6;
    }
 
ul.list_ul.line3 li:nth-child(3n+3) {
    margin-right: 0;
}
ul.list_ul.line4 li:nth-child(2n+2) {
    margin-right: 0;
}

ul.list_ul li .box {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

ul.list_ul li .bottom_txt {
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px dotted #d9d9d9;
}

ul.list_ul li .bottom_txt div[class*=tag] span {
    display: inline-block;
    padding: 2px 5px;
    background-color: #F5F5F5;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #999;
}

ul.list_ul li .img {
    width: 100%;
    height: 222px;
    background: #cccccc;
    overflow: hidden;
    text-indent: -999px;
    background-position: center 0;
    background-size: 100%;
    margin-bottom: 15px;
    background-repeat: no-repeat;
}
ul.list_ul li:hover .img {
    -moz-transition: background 0.4s ease;
   transition: background 0.4s ease;
    background-size: 110%;
}

ul.list_ul.line3 li .img {
    height: 222px;
}

ul.list_ul.line4 li .img {
    height: 265px;
}

ul.list_ul li .category {
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

    ul.list_ul li .category span {
        display: inline-block;
        padding: 3px 8px;
        border: 1px solid #ccc;
        font-size: 11px;
        color: #999;
        background-color: #fff !important;
    }

ul.list_ul li .tag {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 14px;
    margin-top: 15px;
}

ul.list_ul li .tag2 {
    width: 100%;
    display: block;
    text-align: left;
    font-weight: 100;
    font-size:1em;
}

    ul.list_ul li .tag2 span {
        display: inline-block;
        margin-right: 5px;
        color: #666666;
        padding:1px 2px;
        box-sizing:border-box;
        background-color:#f5f5f5;
    }

ul.list_ul li .title {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    font-weight: 600;
}

ul.list_ul li .subTitle {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #999;
    margin-bottom: 9px;
}

ul.list_ul li .cash {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 16px;

    line-height: 28px;
}

    ul.list_ul li .cash strong {
        font-size: 20px;
        color: #5bace9;
    }

/* board style ul */
ul.boardlist_ul li {
    display: inline-block;
    margin-right: 2%;
    cursor: pointer;
}

ul.boardlist_ul.line3 li {
    width: 31.5%;
}

ul.boardlist_ul.line4 li {
    width: 23.3%;
}

ul.boardlist_ul .list_in {
    margin-bottom: 30px;
    vertical-align: top;
    border: 2px solid #ffffff;
    box-sizing: border-box;
}

ul.boardlist_ul.line3 li:nth-child(3n+3) {
    margin-right: 0;
}

ul.boardlist_ul li .box {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px 15px;
}

ul.boardlist_ul li .bottom_txt {
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px dotted #d9d9d9;
}

ul.boardlist_ul li .img {
    width: 100%;
    height: 230px;
    overflow: hidden;
    text-indent: -999px;
    background-position: center;
    background-size: 100%;
    background-color: #cccccc;
    margin-bottom: 15px;
}
    ul.boardlist_ul li:hover .img {
        background-size: 110%;
        -moz-transition: background 0.4s ease;
        transition: background 0.4s ease;
    }

ul.boardlist_ul li .category {
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

    ul.boardlist_ul li .category span {
        display: inline-block;
        padding: 3px 8px;
        border: 1px solid #ccc;
        font-size: 12px;
        color: #999;
    }

ul.boardlist_ul li .tag {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 14px;
    margin-top: 15px;
}

ul.boardlist_ul li .tag2 {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 12px;
}

    ul.boardlist_ul li .tag2 span {
        display: inline-block;
        margin-right: 5px;
        color: #999999;
    }

ul.boardlist_ul li .title {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    font-weight: 600;
}

ul.boardlist_ul li .subTitle {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight:600;
    color: #999;
}

ul.boardlist_ul li .cash {
    width: 100%;
    display: block;
    text-align: left;
    font-size: 16px;
    color: #5bace9;
    line-height: 28px;
}

    ul.boardlist_ul li .cash strong {
        font-size: 20px;
    }


.board_list .ct_01 {
    display: inline-block;
    padding: 0 13px;
    font-size: 12px;
    color: #5bace9;
    font-weight: 600;
    border: 1px solid #5bace9;
    border-radius: 100px;
    line-height: initial;
    background-color: #fff;
  
}

.board_list .ct_02 {
    display: inline-block;
    padding: 0 13px;
    font-size: 12px;
    color: #002faa;
    font-weight: 600;
    border: 1px solid #002faa;
    border-radius: 100px;
    line-height: initial;
    background-color: #fff;
    
}

.board_list.st01 {
    position: relative;
    display: block;
    width: 100%;
}

    .board_list.st01 .tbody {
        display: block;
        width: 100%;
        border-top: 2px solid #333;
    }

        .board_list.st01 .tbody li {
            display: block;
            width: 100%;
            line-height: 25px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
            box-sizing: border-box;
            padding: 10px;
        }
    
           
            .board_list.st01 .tbody li > div {
                display: inline-block;
                padding: 0px;
                font-size: 13px;
                box-sizing: border-box;
                font-weight: 100;
            }

        .board_list.st01 .tbody .td01 {
            width: auto;
            text-align: center;
            margin-right: 15px;
        }

        .board_list.st01 .tbody .td02 {
            width:auto;
            text-align: center;
        }

        .board_list.st01 .tbody .td03 {
            width:100%;
            text-align: left;
            padding-left: 0;
            font-weight: 600;
            font-size: 1.2em;
            overflow-wrap: anywhere;
        }

        .board_list.st01 .tbody .td04 {
            width:auto;
            text-align: left;
            color: #555555;
            font-weight: 100;
        }

.board_list.st02 {
    position: relative;
    display: block;
    width: 94%;
}

    .board_list.st02 .list_in {
        position: relative;
        display: inline-block;
        line-height: 34px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #e0e0e0;
        box-sizing: content-box;
    }
        .board_list.st02 .list_in .img {
            height: 220px;
        }

        .board_list.st02 .list_in .title {
            line-height: 38px;
            padding: 0 20px;
            text-align: center;
            font-size: 18px;
            box-sizing: border-box;
        }

        .board_list.st02 .list_in .txt {
            line-height: 18px;
            font-size: 14px;
            box-sizing: border-box;
            padding: 0 20px 30px;
            margin-bottom: 100px;
        }

.board_list.st03 {
    position: relative;
    display: block;
    width: 94%;
}

    .board_list.st03 .tbody {
        display: block;
        width: 100%;
        border-top: 2px solid #333;
    }

        .board_list.st03 .tbody li {
            position: relative;
            display: block;
            width: 100%;
            line-height: 30px;
            border-bottom: 1px solid #e5e5e5;
            cursor: pointer;
            text-align: left;
            padding: 20px 10px;
            box-sizing:border-box;
        }

            .board_list.st03 .tbody li > div {
                display: inline-block;
                line-height:33px;
            }

        .board_list.st03 .tbody .td01 {
            width: auto;
            text-align: center;
        }

        .board_list.st03 .tbody .td02 {
            width: 100%;
        }

            .board_list.st03 .tbody .td02 .img {
                width: 100%;
                max-width: 100%;
                height:150px;
                overflow: hidden;
                display: block;
                position: relative;
                overflow: hidden;
                text-indent: -999px;
                background-size: 120%;
                background-position: center center;
                background-image: url(/img/test_img_01.jpg) !important;
            }

        .board_list.st03 .tbody .td03 {
            width: 100%;
            display: inline-block;
            text-align: left;
            line-height: initial;
            padding: 0 0 0 1%;
            box-sizing: border-box;
        }

            .board_list.st03 .tbody .td03 .title {
                display: block;
                line-height: 29px;
                font-weight: 600;
                font-size: 19px;
            }

            .board_list.st03 .tbody .td03 .id {
                display: inline-block;
                line-height: 27px;
                font-weight: 400;
                color: #999;
                font-size: 14px;
            }

            .board_list.st03 .tbody .td03 .day {
                display: inline-block;
                line-height: 27px;
                font-weight: 400;
                margin-left: 15px;
                color: #999;
                font-size: 14px;
            }

            .board_list.st03 .tbody .td03 .count {
                display: inline-block;
                line-height: 27px;
                font-weight: 400;
                margin-left: 15px;
                color: #999;
                font-size: 14px;
            }

        .board_list.st03 .tbody .td04 {
            width: auto;
            color: #969696;
            font-weight: 400;
            text-align: right;
            padding: 0 0 0 1%;
            box-sizing:border-box;
            font-size:12px;
        }

ul.photo_ul {
    display: block;
}

    ul.photo_ul li {
        display: inline-block;
        cursor: pointer;
        position: relative;
        vertical-align: top;
    }

.photo_ul.line4 li {
    width: 100%;
    margin: 0 0 3% 0;
    height: 280px;
}

.photo_ul.line3 li {
    width: 100%;
    margin: 0 0 3% 0;
    height: 280px;
}
ul.photo_ul li .img {
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position: center;
    background-size: 150%;
}

ul.photo_ul li .box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.77);
    padding:77px 35px 0;
    box-sizing: border-box;
    color: #fff;
}

ul.photo_ul li:hover .box {
    display: inline-block;
}

ul.photo_ul li .title {
    font-size: 18px;
    font-weight: 600;
}

ul.photo_ul li .subTitle {
    font-size: 14px;
    font-weight: 400;
}

ul.photo_ul li .category {
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

    ul.photo_ul li .category span {
        display: inline-block;
        padding: 3px 8px;
        border: 1px solid #fff;
        font-size: 12px;
        color: #fff;
    }

.board_box {
    position: relative;
    display: block;
}

    .board_box .xe_content {
        position: relative;
        display: block;
        margin-top: 100px;
        margin-bottom: 100px;
    }

        .board_box .xe_content .xe_top {
            position: relative;
            display: block;
            margin-bottom: 21px;
        }

            .board_box .xe_content .xe_top .h3_top {
                position: relative;
                display: block;
                font-weight: 600;
                font-size: 24px;
                text-align: center;
                margin-bottom: 7px;
            }
            .board_box .xe_content .xe_top .category {
                display: inline-block;
                padding: 2px 19px;
                font-size: 14px;
                color: #696969;
                font-weight: 600;
                border: 1px solid #909090;
                border-radius: 100px;
                line-height: initial;
                background-color: #fff;
                margin-right: 8px;
                vertical-align: bottom;
            }

            /*.board_box .xe_content .xe_top .ct_01 {
                color: #5bace9;
                border: 1px solid #5bace9;
            }

            .board_box .xe_content .xe_top .ct_02 {
                color: #002faa;
                border: 1px solid #002faa;
            }*/

            .board_box .xe_content .xe_top h3 {
                position: relative;
                display: block;
                font-weight: 600;
                font-size: 40px;
                line-height:1.6em;
                text-align: center;
                margin-bottom: 7px;
            }

       
            .board_box .xe_content .xe_top .menu {
                display: inline-block;
                width: 20px;
                height: 20px;
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 0;
                color: #333;
                font-size: 21px;
                font-weight: 600;
            }

                .board_box .xe_content .xe_top .menu > ul {
                    display: none;
                    position: absolute;
                    width: 104px;
                    background-color: #fff;
                    padding: 10px 0;
                    border-radius: 5px;
                    top: 40px;
                    border: 1px solid #ccc;
                    left: -35px;
                    z-index: 99;
                }

                .board_box .xe_content .xe_top .menu:hover ul {
                    display: inline-block;
                }

                .board_box .xe_content .xe_top .menu li {
                    width: 100%;
                    line-height: 27px;
                    text-align: center;
                    cursor: pointer;
                    font-size: 13px;
                    letter-spacing: -1px;
                }
            .board_box .xe_content .xe_top .footer_txt {
                display: block;
                position: relative;
                text-align:center;
            }

            .board_box .xe_content .xe_top .footer_txt span {
                display: inline-block;
                font-weight: 400;
                font-size: 14px;
                color: #999;
                margin-right: 15px;
                margin-left: 5px;
                position: relative;
            }
                .board_box .xe_content .xe_top .footer_txt span strong{
                    margin-left:5px;
                }

                .board_box .xe_content .xe_top .footer_txt span:after {
                    display: inline-block;
                    content: '';
                    width: 1px;
                    height: 8px;
                    background-color: #ccc;
                    position: absolute;
                    right: -11px;
                    top: 7px;
                }

                .board_box .xe_content .xe_top .footer_txt span:last-child::after {
                    display: none;
                }

           

        .board_box .xe_content .in_box {
            position: relative;
            display: block;
            overflow: hidden;
            padding: 50px 15px;
            border-top: 2px solid #333;
        }

            .board_box .xe_content .in_box img {
                max-width: 100%;
            }

            .board_box .xe_content .in_box p {
                font-size: 14px;
                line-height: 30px;
            }

div.download_box {
    display: block;
    position: relative;
    padding: 30px 0;
    margin-top: 50px;
    border-top: 1px dotted #ccc;
}

    div.download_box li {
        display: block;
        width: 100%;
        position: relative;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.08);
    }

        div.download_box li a {
            display: block;
            position: relative;
            width: 100%;
            padding: 5px 23px;
            line-height: 40px;
            font-weight: 600;
            font-size: 14px;
            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid #dbdbdb;
        }

        div.download_box li i.flaticon-folder-15 {
            margin-right: 9px;
            display: inline-block;
            font-weight: 600;
            font-size: 22px;
            vertical-align: top;
        }

        div.download_box li i.end {
            position: absolute;
            top: 5px;
            right: 18px;
            color: #ccc;
            font-size: 20px;
        }

        div.download_box li:hover i {
            color: #5bace9;
        }

        div.download_box li:hover a {
            color: #5bace9;
            border: 1px solid #5bace9;
        }


div.comment_box {
    position: relative;
    display: block;
    padding: 20px 0 20px;
    margin-top: 10px;
    box-sizing: border-box;
}

    div.comment_box h3 {
        font-size: 22px;
        font-weight: 600;
        line-height: 47px;
        border-bottom: 2px solid #333;
    }

        div.comment_box h3 strong {
            font-size: 22px;
            font-weight: 600;
            color: #999;
        }

    div.comment_box .write_comment {
        position: relative;
        display: block;
        border: 1px solid #b2b2b2;
        background-color: #fff;
    }

    div.comment_box .list_comment {
        position: relative;
        display: block;
        padding: 0 0 45px;
        box-sizing: border-box;
    }

        div.comment_box .list_comment .text_box {
            position: relative;
            display: block;
            margin-bottom: 30px;
        }

        div.comment_box .list_comment ul {
            position: relative;
            display: block;
        }

        div.comment_box .list_comment li {
            position: relative;
            display: block;
            width: 100%;
            padding: 30px 10px;
            box-sizing: border-box;
            border-bottom: dotted #ccc 1px;
        }   
        
        div.comment_box .list_comment li.re {
            padding-left:50px;
        }

            div.comment_box .list_comment li.re:before {
                content: 'Re:';
                display: inline-block;
                position: absolute;
                left: 18px;
                top: 33px;
            }

        div.comment_box .list_comment .title {
            display: block;
            width: 100%;
            font-size: 16px;
            font-weight: 600;
            line-height: 30px;
        }

            div.comment_box .list_comment .title .profile {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 5px;
                vertical-align: sub;
                background-position: center;
                background-size: 100%;
                border-radius: 100px;
            }

        div.comment_box .list_comment p {
            display: block;
            width: 100%;
            font-size: 14px;
            line-height: 19px;
            margin-left: 3px;
        }

        div.comment_box .list_comment .date {
            color: #999;
            font-size: 13px;
            margin-left: 3px;
        }

        div.comment_box .list_comment .btn_bottom {
            display: block;
            position: relative;
            text-align: left;
            margin-top: 15px;
            margin-left: 3px;
        }

            div.comment_box .list_comment .btn_bottom button {
                margin-right: 7px;
                font-size: 12px;
                padding: 2px 10px;
                box-sizing: border-box;
                border: 1px #ccc solid;
                color: #999;
                background-color:#fff;
            } 
            div.comment_box .list_comment .btn_bottom button:hover {
               
                border: 1px #999 solid;
                color: #333;
            }

    div.comment_box .write_comment .title {
        display: block;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
    }

        div.comment_box .write_comment .title .profile {
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-right: 5px;
            vertical-align: sub;
            background-position: center;
            background-size: 100%;
            border-radius: 100px;
        }

    div.comment_box .write_comment .text_box {
        padding: 30px;
        box-sizing: border-box;
    }

        div.comment_box .write_comment .text_box textarea {
            padding: 20px 4px;
            box-sizing: border-box;
            border: 0;
            width: 100%;
            display: block;
        }

        div.comment_box .write_comment .text_box .count {
            color: #959595;
            line-height: 35px;
        }

    div.comment_box .write_comment .text_box_bottom {
        display: block;
        position: relative;
        height: 59px;
        text-align: left;
        margin-top: 5px;
        border-top: 1px solid #ccc;
    }

        div.comment_box .write_comment .text_box_bottom .float_left {
            display: block;
            position: relative;
            padding: 20px 30px;
            box-sizing: border-box;
        }

        div.comment_box .write_comment .text_box_bottom button {
            margin-right: 0;
            font-size: 14px;
            padding: 20px 30px;
            box-sizing: border-box;
            border: 0;
            color: #333;
            font-weight: 600;
            border-left: 1px solid #ccc;
            background-color: #ffffff;
        }

        div.comment_box .write_comment .text_box_bottom span {
            font-size: 14px;
            color: #999;
            font-weight: 600;
            cursor: pointer;
            margin-right: 13px;
        }

            div.comment_box .write_comment .text_box_bottom span:hover {
                color: #333;
            }

            div.comment_box .write_comment .text_box_bottom span.on {
                color: #5bace9;
            }

            div.comment_box .write_comment .text_box_bottom span i {
                display: inline-block;
                margin-right: 3px;
                font-weight: 600;
            }


    div.board_list_mini.type2 {
        border-bottom: 2px solid #ccc;
        border-top: 2px solid #ccc;
        margin-top: 90px;
    }

    div.board_list_mini li {
        position: relative;
        display: flex;
        line-height: 25px;
        cursor: pointer;
        font-size: 14px;
        box-sizing: border-box;
        padding: 5%;
    }

        div.board_list_mini li.first {
            border-bottom: 1px solid #ccc;
        }

        div.board_list_mini li:hover {
            background-color: #fbfbfb;
        }
        div.board_list_mini .no_data {
            display: block !important;
            text-align: center;
            line-height: 50px;
        }
        div.board_list_mini .no_data:hover {
            background-color: #ffffff;
            cursor: unset;
        }

    div.board_list_mini span {
        position: relative;
        width: 172px;
        display: inline-block;
        font-weight: 600;
        padding: 3px 15px;
        box-sizing: border-box;
        text-align: left;
    }

        div.board_list_mini span i {
            margin-right: 5px;
            color: #b2b2b2;
            display: inline-block;
        }
            div.board_list_mini span i.flaticon-command {
                margin-right: 0;
                margin-left: 5px;
                color: #dfdfdf;
                font-size: 11px;
                display: inline-block;
            }

    div.board_list_mini div {
        width: auto;
        display: inline-block;
        padding: 3px 0;
        box-sizing: border-box;
        text-align: left;
    }  
    div.board_list_mini div.w100 {
        width: 100%;
        display: inline-block;
        padding: 3px 15px;
        box-sizing: border-box;
        text-align: left;
    }

/* writing_in*/
.writing_in {
    position: relative;
    display: block;
}
.board_write {
   
}.board_write .con_bottom {
    padding-bottom: 100px;
    padding-top: 50px;
    box-sizing:border-box;
}
.board_write .write_box {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 60px 60px 20px 60px;
    background-color: #f5f5f5;
    border-top: 2px solid #333;
 
}

.board_write .bottom_write {
    position: relative;
    padding: 35px 60px 20px 60px;
    background-color: #e9e9e9;
    text-align: center;
}

.board_write .write_type * {
    vertical-align: middle;
}

.board_write .write_type {
    margin: 0 0 15px;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    width: 100%;
    vertical-align: top;
}

    .board_write .write_type .title {
        width: 15%;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        font-weight: 600;
        line-height: 40px;
        color: #535353;
    }

    .board_write .write_type .input_form,
    .board_write .write_type .form {
        width: 84%;
        display: inline-block;
        vertical-align: top;
        line-height: 40px;
        font-size: 16px;
    }

        .board_write .write_type .input_form li {
            display: inline-block;
            margin-right: 5px;
            font-size: 16px;
        }

            .board_write .write_type .input_form li input {
                margin-right: 5px;
            }

    .board_write .write_type .category {
        display: inline-block;
        line-height: 40px;
        padding: 0;
        border: 1px #e7e7e7 solid;
        background-color: #fff;
        width: 240px;
    }

    .board_write .write_type .form .input_form {
        margin: 5px 0 10px;
        text-align: left;
        color: #a5a5a5;
    }

    .board_write .write_type .category select {
        border: 0;
        padding: 0 0 0 4%;
        width: 96%;
        height: 34px;
    }

    .board_write .write_type input[type=text],
    .board_write .write_type input[type=password] {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        box-sizing: border-box;
        color: #777;
        background: #fff;
        border: 0;
        box-shadow: 0;
        border-radius: 3px;
        border: 1px #e7e7e7 solid;
    }


    .board_write .write_type p.info_txt {
        margin: 5px 0 10px;
        text-align: left;
        color: #a5a5a5;
        font-size: 14px;
        line-height: 16px;
    }

    .board_write .write_type input[type=checkbox] {
        margin-right: 3px;
    }

    .board_write .write_type label {
        margin-right: 30px;
    }

    .board_write .write_type .img_box_add {
        width: 84%;
        display: inline-block;
        vertical-align: top;
    }

        .board_write .write_type .img_box_add .img_add {
            width: 100%;
            display: block;
            position: relative;
            text-align: left;
            margin-bottom: 15px;
        }

            .board_write .write_type .img_box_add .img_add li {
                width: 100%;
                display: inline-block;
                border: #ccc solid 1px;
                margin-bottom: 5px;
                padding: 11px 20px 8px;
                box-sizing: border-box;
                border-radius: 5px;
                color: #a7a7a7;
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                cursor: pointer;
            }

                .board_write .write_type .img_box_add .img_add li.on_file {
                    color: #636363;
                    border: #b9b9b9 solid 1px;
                    background-color: #fff;
                }

.board_write .write_con {
    padding: 1px;
    box-sizing: border-box;
}

    .board_write .write_con textarea {
        border: 1px solid #ccc;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 3px;
    }

    .board_write .write_con .add_box_btn {
        display: block;
        position: relative;
        width: 100%;
    }

        .board_write .write_con .add_box_btn .texta_add {
            display: block;
            cursor: pointer;
            padding: 3px;
            border: 1px solid #ccc;
            text-align: center;
            font-size: 14px;
            background-color: #f5f5f5;
            border-radius: 0 0 3px 3px;
            margin-bottom: 25px;
            color: #999;
        }

            .board_write .write_con .add_box_btn .texta_add i {
                margin-left: 5px;
            }

.board_write .con_tap {
    width: 100%;
    position: relative;
    margin-top: 15px;
    display: block;
    border-bottom: 3px solid #e4e4e4;
    text-align: left;
    line-height:42px;
}

    .board_write .con_tap li {
        position: relative;
        font-weight: 600;
        display: inline-block;
        margin: 3px 15px;
        color: #999;
        cursor: pointer;
        font-size: 20px;
        letter-spacing: 0;
    }

    .board_write .con_tap span {
        padding: 0 5px;
        box-sizing: border-box;
    }

    .board_write .con_tap i {
        font-style: unset;
        margin-right: 2px;
    }

    .board_write .con_tap li.on {
        text-decoration-style: solid;
        color: #333333;
    }

        .board_write .con_tap li.on span:after {
            content: '';
            width: 100%;
            height: 3px;
            background-color: #333;
            position: absolute;
            bottom: -7px;
            left: 0;
        }

    .board_write .RangeExample {
        padding: 3%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #f8fbfe;
        margin-bottom: 10px;
        position: relative;
        border: 1px #d8e0e7 solid;
        border-radius: 3px;
    }
        .board_write .RangeExample .info_txt {
            position: absolute;
            top: 44px;
            right: 14px;
            padding: 5px;
            width: 540px;
        }
        .board_write .RangeExample .info_txt h4 {
            font-size: 1em;
            color: rgb(121, 125, 131);
            margin-bottom: 5px;
        }  
        .board_write .RangeExample .info_txt h4 i {
            font-size: 0.9em;
            font-weight: 100;
            margin-right: 5px;
        }
        .board_write .RangeExample .info_txt li {
            font-size: 0.8em;
            color: rgb(112, 112, 112);
            margin-bottom: 5px;
        }
        .board_write .RangeExample .info_txt a {
            color: rgb(76, 78, 207);
        }
    .board_write .write_con .texta {
        border: 1px solid #efefef;
        padding: 30px;
        box-sizing: border-box;
        padding-top: 5px;
    }
    .board_write .write_con .day_tap .elimination {
        position: relative;
        top: -4px;
        left: 1043px;
        background-color: #7c7c7c;
        color: #fff;
        padding: 5px 9px;
        border-radius: 0 0 5px 0;
        border: 0;
        font-size: 0.8em;
    }
    .board_write .write_con .day_tap .add {
        position: relative;
        top: -4px;
        left: 918px;
        background-color: #ababab;
        color: #fff;
        padding: 5px 9px;
        border-radius: 0 0 0 5px;
        border: 0;
        font-size: 0.8em;
    }

    .board_write .write_con .texta input[type=text] {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 1.5%;
        color: #777;
        background: #fff;
        border: 0;
        box-shadow: 0;
        border-radius: 3px;
        border: 1px solid #ccc;
    }

    .board_write .write_con .texta_title {
        position: relative;
        margin-bottom: 5px;
    }

    .board_write .write_con .texta_title .day_add {
        line-height: 40px;
        padding: 12px 28px;
        box-sizing: border-box;
        cursor: pointer;
        border-radius: 3px;
        border-color: #9f9f9f;
        color: #333333;
        background-color: #f5f5f5;
        vertical-align: unset;
        font-size: 13px;
    }

        .board_write .write_con .texta_title .day_add i {
            margin-left: 5px;
            font-size: 11px;
        }
        
        .board_write .write_con h5 {
            font-size: 18px;
            padding-top: 20px;
            margin-bottom: 10px;
            font-weight: 600;
        }
        
        .board_write .write_con h5 span {
            font-size: 12px;
            font-weight: 300;
            color: #999999;
            margin-left: 10px;
        }
        .board_write .write_con h5 span i {
        
            margin-right: 3px;
        }
        .board_write .add_img_box  {
        height: 40px;
        position:relative;
        display:block;
        width:100%;
        background:#f5f5f5;
        box-sizing:border-box;
        display: flex;
    }



    .board_write .add_img_box__addBtn {
        display: block;
        width: 150px;
        height: 100%;
        text-align: center;
        background: #adadad;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 6px;
        line-height: 30px;
        cursor: pointer;
    }
    
    .board_write .add_img_box__loading {
        padding: 6px;
        padding-left: 20px;
        line-height: 30px;
        height: 30px;
        display: block;
    }    
    
        .board_write .add_img_box div {
            box-sizing: border-box;
            padding: 6px;
            display: block;
            width: 100%;
            cursor: pointer;
        }
        .board_write .add_img_box input[type=file] {
            width: 100%;
            cursor: pointer;
            box-sizing: border-box;
            padding-left:150px;
            color:#555;
            border-color:#555;
        }

        div.board_view {
            position:relative;
            width:100%;
            display:block;
        
        }
            div.board_view .thumbnail {
                display: inline-block;
                position:relative;
                width: 271px;
                height: 158px;
                margin:1% 1% 0 0;
                background-position: center;
                background-size: 120%;
                cursor:pointer;
            }
            div.board_view .thumbnail:nth-child(5n+5) {
                margin:1% 0 0 0;
            }
                div.board_view .thumbnail:after {
                    top: 0;
                    left: 0;
                    position: absolute;
                    background-size: 100%;
                    opacity: 0 !important;
                    filter: alpha(opacity=50);
                    z-index: 0;
                    content: "";
                    width: 100%;
                    height: 100%;
                }
                div.board_view .thumbnail:hover:after {
                    opacity: 0.8 !important;
                }
                div.board_view .thumbnail .in_black {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: none;
                    padding: 30px 15px 0;
                    box-sizing: border-box;
                    text-align: left;
                    font-size: 16px;
                    color: #fff;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.84);
                }     
                div.board_view .thumbnail .in_black h4 {
                    
                    color: #fff;
                }  
                div.board_view .thumbnail:hover .in_black {
                    display: block;
                }
.boardNavigation {
    margin-top: 15px;
    height: 38px;
    text-align: center;
    *zoom: 1;
    display: block;
    position: relative;
    margin-top: 15px;
    padding: 0 5px;
    box-sizing: border-box;
}
.boardNavigation button {
   margin: 0 2px;
}

    .boardNavigation .btn {
        color: #818181 !important;
        background-color: #fff !important;
        text-indent: -1px;
        border: 1px solid #969696 !important;
        padding: 0 24px !important;
        line-height: 32px;
        font-size: 12px;
        height: auto !important;
    }

        .boardNavigation .btn:hover {
            color: #333 !important;
            border-color: #555 !important;
        }

    .boardNavigation .pointcolor {
        color: #5bace9 !important;
        border: 1px solid #5bace9 !important;
    }

        .boardNavigation .pointcolor:hover {
            background: #5bace9 !important;
            color: #fff !important;
            border: 1px solid #5bace9 !important;
        }

    .boardNavigation .impact {
        color: #333 !important;
        border: 1px solid #333 !important;
    }

        .boardNavigation .impact:hover {
            background: #333 !important;
            color: #fff !important;
        }
.fuction_list_mini {
    position: relative;
    display: block;
    width: 100%;
    border-top: 3px #333 solid;
}

    .fuction_list_mini .thead {
        position: relative;
        display: flex;
        width: 100%;
        border-bottom: 2px solid #ccc;
        background-color: #fff;
    }

    .fuction_list_mini .thead > div {
        display: inline-block;
        width: 24.5%;
        text-align: center;
        font-size: 1em;
        font-weight: 600;
        line-height: 120%;
        padding: 17px 10px;
        box-sizing: border-box;
    }

    .fuction_list_mini .tbody {
        position: relative;
        display: block;
        width: 100%;
    }

        .fuction_list_mini .tbody ul {
            position: relative;
            display: block;
            width: 100%;
        }

        .fuction_list_mini .tbody li {
            position: relative;
            display: flex;
            width: 100%;
            border-bottom: 1px solid #eeeeee;
            box-sizing: border-box;
            padding: 3%;
        }

            .fuction_list_mini .tbody li > div {
                display: inline-block;
                width: auto;
                text-align: center;
                font-size: 12px;
                padding: 0;
                box-sizing: border-box;
                position:relative;
                font-weight: 100;
            }
    .new {
        width: 12px;
        vertical-align: middle;
        margin-left: 10px;
    }
    i.q_ok {
        font-style: unset;
        display: inline-block;
        padding: 4px 10px;
        margin-left: 15px;
        font-size: 10px;
        color: #002faa;
        border: 1px solid #768fd1;
        background-color: #e2eaff;
        line-height: 1;
    }

    i.q_no {
        font-style: unset;
        display: inline-block;
        padding: 4px 10px;
        margin-left: 15px;
        font-size: 10px;
        color: #3f65c9;
        border: 1px solid #bccbf0;
        background-color: #ffffff;
        line-height: 1;
    }
div.sum_div {
    position: relative;
    border: solid #eee 3px;
    box-sizing: border-box;
    margin-top: 30px;

}

    div.sum_div .first_ul {
        position: relative;
        padding: 15px;
        box-sizing: border-box;
        text-align: left;
    }

    div.sum_div li {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        text-align: right;
        line-height: 38px;
        border-bottom: 1px solid #eee;
    }

        div.sum_div li > div {
            display: inline-block;
            position: relative;
            font-size: 14px;
            color: #333333;
        }

        div.sum_div li .title {
            width: 33%;
            text-align: left;
        }

        div.sum_div li .body {
            width: 65%;
            text-align: right;
        }

    div.sum_div .body div {
        display: inline-block;
    }

    div.sum_div li .function {
        font-size: 10px;
        padding-right: 0;
    }

        div.sum_div li .function i {
            margin-right: 10px;
        }
    div.sum_div .first_ul li {
        background-color: #ffffff;
        padding: 0;
        box-sizing: border-box;
    }
    div.sum_div .last_ul {
        text-align: right;
        width: 100%;
        font-size: 22px;
        border-bottom: 0;
        background-color: #797979;
    }
        div.sum_div .last_ul li {
            width: 100%;
            padding: 15px;
            box-sizing: border-box;
            margin: 0;
        }
            div.sum_div .last_ul li div {
                font-size: 22px;
                color: #ffffff;
            }
        div.sum_div .last_ul i {
            margin-right: 20px;
            font-size: 13px;
            vertical-align: top;
        }
.reservation_list {
    position: relative;
    width: 100%;
    margin-top: 0;
    display: block;
    border-top: 2px solid #555;
}
    .reservation_list .th {
        position: relative;
        width: 100%;
        display: none;
        border-bottom: 1px solid #999;
        line-height: 30px;
        box-sizing: border-box;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .reservation_list .td {
        position: relative;
        width: 100%;
        display: block;
        border-bottom: 1px solid #c4c4c4;
        line-height: 22px;
        box-sizing: border-box;
        padding: 5% 5% 80px 5%;
    }
    .reservation_list .th div[class*=t0] {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        text-align: center;
        font-weight: 600;
        border-left: 0 !important;
    }
    .reservation_list .td div[class*=t0] {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        text-align: center;
        box-sizing: border-box;
        position: relative;
        font-weight: 100;
    }

.tb_st__01 {
    width: 100%;
    border-top: 2px solid #321906;
    table-layout: fixed;
    min-width: 640px;
    width: 100%;
    border-top: 2px solid #666;
    text-align: center;
    border-spacing: 0
    ;
    margin-bottom:5px;
    margin-top:5px;
}

    .tb_st__01 th {
        line-height: 23px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        background: #eee;
        padding: 10px;
        border-bottom: 1px solid #dadada
    }

    .tb_st__01 td {
        line-height: 23px;
        text-align: center;
        font-size: 13px;
        padding: 10px;
        border-bottom: 1px solid #dadada
    }


    /* QNA Board style */
    .board_qna{
        position: relative;
        display: block;
    }
    .board_qna .dl{
        position: relative;
        display: block;
        margin-bottom: 7px;
        border-radius: 5px;
        overflow: hidden;
    }
    .board_qna .dl:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.089);
}
    .board_qna .dt{
        position: relative;
        display: block;
        width: 100%;
        cursor: pointer;
        line-height: 150%;
        font-weight: 600;
        border: 1px solid #cfcfcf;
        border-radius: 5px;
        padding: 20px;
        box-sizing: border-box;
        background-color: #ffffff;
        z-index: 2;
    }
    .board_qna .dt i[class*=jandaicon]{
        float: right;
        font-size: 1.8em;
        opacity: 0.5;
        line-height: 26px;

    }
    .board_qna .dt i.Q{
        display: inline-block;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        margin-right: 5px;
        background-image: url(/img/svg/icon_q.svg);
        background-size: 66%;
        background-position: center center;
        background-repeat: no-repeat;
        
    }
    .board_qna .dt span{
        display: inline-block;
        padding-right: 15px;
        color: #2196F3;
        font-size: 1.2em;
    }
    .board_qna .dd{
        position: relative;
        display: none;
        width: 100%;
        line-height: 150%;
        font-weight: 100;
        font-size: 0.9em;
        border: 1px solid #eee;
        padding: 30px 20px 50px;   
        margin-top: -7px;
        box-sizing: border-box;
        border-radius: 5px;
        z-index:1;
     
    }
    .board_qna .dd i.A{
        display: inline-block;
        position: absolute;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        margin-right: 5px;
        background-image: url(/img/svg/icon_a.svg);
        background-size: 66%;
        background-position: center center;
        background-repeat: no-repeat;
        
    }
    .board_qna .dd p{
        display: block;
        margin-left: 30px;
        line-height: 220%;
        
    }
    .board_qna .dl.active .dd{
        display: block;
    }
    .board_qna .dl.active .dt i[class*=jandaicon]{
        transform: rotate(180deg);

    }









@media (min-width:768px) {
    ul.list_ul .list_in{
        margin-right: 1%;
    }
    ul.list_ul.line4 li{
        width: 48.5%;
    }
    ul .list_ul.line3 li {
        width: 31.7%;
    }
    ul.list_ul.line4 li .img {
        height: 190px;
    }
        ul.list_ul.line3 li:last-child {
            display: inline-block;
        }
    .photo_ul.line4 li {
        width: 50%;
        height: 280px;
        margin: 0;
    }
    .photo_ul.line3 li {
        width: 50%;
        height: 300px;
        margin:0;
    }
    div.board_view .thumbnail{
        width: 24%;
        height: 118px;
    }
    div.board_view .thumbnail:nth-child(5n+5){
        margin: 1% 1% 0 0;
    }
    div.board_view .thumbnail:nth-child(2n+2){
        margin: 1% 1% 0 0;
    }
    div.board_view .thumbnail:nth-child(4n+4){
        margin: 1% 0 0 0;
    }

}
@media (min-width:1000px) {
  
    .new {
        width: 16px;
    }
.board_list .ct_01 {
    padding: 3px 13px;
    margin-left: 0;
}

.board_list .ct_02 {
    padding: 3px 13px;
    margin-left: 0;
}
    .board_list_mini .thead{
        display: flex;
    }
    .m_title{
        display: none !important;
    }
    .board_list.st03 .tbody li > div {
        line-height: 80px;
    }
    .board_list.st03 .tbody li {
        display: flex;
        
    }
    
    .board_list.st03 .tbody .td01 {
        width: 10%;
    }
    .board_list.st03 .tbody .td02 {
        width: 112px;
    }
        .board_list.st03 .tbody .td02 .img {
           
            height: 82px;
        }
    .board_list.st03 .tbody .td03 {
        width: 60%;
        padding: 14px 0 0 33px;
    }
    .board_list.st03 .tbody .td04 {
        width: 19%;
        text-align: right;
        font-size:14px;
    }
    .photo_ul.line4 li {
        width: 25%;
        height: 238px;
        margin: 0;
    }
    .photo_ul.line3 li {
        width: 33%;
        height: 300px;
    }
    ul.list_ul li {
        margin-right: 2%;
    }
    ul.list_ul .list_in:hover {
        border: 2px solid #5bace9;
    }
    .fuction_list_mini .tbody li{
        padding: 0;
    }
    .fuction_list_mini .tbody li > div {
        display: inline-block;
        width: 24.5%;
        text-align: center;
        font-size: 12px;
        padding: 13px 10px 10px;
    }
    .board_list.st01 .tbody li {
        display: flex;
        padding: 0;
        line-height: 55px;
    }
    .board_list.st01 .tbody li > div{
        padding: 10px;
    }
    .board_list.st01 .tbody .td01 {
        width: 10%;
        text-align: center;
        margin-right: 0;
    }

    .board_list.st01 .tbody .td02 {
        width: 10%;
        text-align: center;
    }

    .board_list.st01 .tbody .td03 {
        width: 64%;
        text-align: left;
        padding-left: 34px;
        font-weight: 600;
        font-size: 1em;
    }

    .board_list.st01 .tbody .td04 {
        width: 15%;
        text-align: right;
        color: #555555;
        font-weight: 100;
    }
    .board_list_mini .tbody li{
        display: flex;
        padding: 0;
    }
    .board_list_mini .tbody li > div{
        padding: 10px 10px 10px;
    }
    .board_list_mini.ln05 .th01 {
        width: 10%;
        text-align: center;
    }
    div.board_list_mini li {
        line-height: 35px;
        padding: 0;
    }
    .board_list_mini.ln04 .th01 {
        width: 15%;
        text-align: center;
    }
    .board_list_mini.ln04 .th02 {
        width: 45%;
        text-align: left;
        font-size: 0.9em;
    }
    .board_list_mini.ln04 .th03 {
        width: 20%;
        text-align: center;
        margin-right: 0;
    }
    .board_list_mini.ln04 .th04 {
        width: 20%;
        text-align: center;
    }
    div.sum_div li {
        width: 43%;
        margin: 0 3%;
    }
    .reservation_list .th {
        display: flex;
    }
    .reservation_list .td{
        display: flex;
        padding: 0;
    }
    
    div.board_view .thumbnail:nth-child(2n+2){
        margin: 1% 1% 0 0;
    }
    div.board_view .thumbnail:nth-child(4n+4){
        margin: 1% 1% 0 0;
    }
    div.board_view .thumbnail:nth-child(5n+5){
        margin:1% 0 0 0;
    }
    div.board_view .thumbnail {
        width: 19%;
        height: 134px;
    }
    ul.list_ul.line4 li .img {
        height: 290px;
    }
}

@media (min-width:1200px) {
    ul.list_ul {
        width: 100%;
    }
        ul.list_ul li .box {
            padding: 0 5px 5px;
        }
    ul.list_ul.line4 li {
        width: 24.2%;
    }
    ul.list_ul.line4 li:nth-child(4n+4) {
        margin-right: 0 !important;
    }
    ul.list_ul.line4 li:nth-child(2n+2) {
        margin-right: 1%;
    }
    ul.list_ul.line4 li .img {
        height: 170px;
    }
 
    ul.photo_ul {
        display: flex;
    }

    ul.photo_ul li .img {
        background-size: 150%;
    }
    .board_list {
        width: 100%;
    }
        .board_list.st03 {
            width: 100%;
        }
}

@media (max-width:767px) {
    .photo_ul.line4 li {
        height: 185px;
    }
    ul.photo_ul li .box {
        padding: 30px 5% 0;
    }
    ul.photo_ul li .title {
        font-size: 17px;
    }
    ul.photo_ul li .subTitle {
        font-size: 12px;
    }
    ul.photo_ul li .category {
        margin-left: 3px;
    }
    ul.list_ul.line3 li {
        width: 100%;
        margin-bottom:20px
    }

        ul.list_ul.line3 li:last-child {
            display: inline-block;
        }
        div.board_view .thumbnail{
            width: 49%;
        }
        div.board_view .thumbnail:nth-child(5n+5){
            margin: 1% 1% 0 0;
        }
        div.board_view .thumbnail:nth-child(2n+2){
            margin: 1% 0 0 0;
        }
}

@media (max-width:360px) {
    div.board_view .thumbnail{
        width: 220px;
    }
 
}
